In [2]:
BS=pd.read_csv('data/BS.csv')
BS=BS.set_index('구분')
BS=BS.drop(['Unnamed: 0'], axis=1)

IS_1=pd.read_csv('data/IS_1.csv')
IS_1=IS_1.set_index('구분')
IS_1=IS_1.drop(['Unnamed: 0'], axis=1)

IS_2=pd.read_csv('data/IS_2.csv')
IS_2=IS_2.set_index('구분')
IS_2=IS_2.drop(['Unnamed: 0'], axis=1)

CF=pd.read_csv('data/CF.csv')
CF=CF.set_index('구분')
CF=CF.drop(['Unnamed: 0'], axis=1)

In [3]:
BS.shape, IS_1.shape,  IS_2.shape,  CF.shape,

((8, 12), (7, 12), (7, 12), (3, 12))

In [4]:
BS

,제 48 기말,제 49 기 1분기말,제 49 기 반기말,제 49 기 3분기말,제 49 기말,제 50 기 1분기말,제 50 기 반기말,제 50 기 3분기말,제 50 기말,제 51 기 1분기말,제 51 기 반기말,제 51 기 3분기말
구분,,,,,,,,,,,,
유동자산,"69,981,128","60,869,192","59,385,664","65,782,329","70,155,189","72,370,085","68,070,224","81,904,347","80,039,455","82,311,689","72,045,329","76,848,738"
비유동자산,"104,821,831","112,184,637","119,014,453","123,027,161","128,086,171","132,836,079","135,899,888","135,895,097","138,981,902","138,335,268","140,705,389","140,398,633"
자산총계,"174,802,959","173,053,829","178,400,117","188,809,490","198,241,360","205,206,164","203,970,112","217,799,444","219,021,357","220,646,957","212,750,718","217,247,371"
유동부채,"34,076,122","33,947,859","36,363,120","42,071,538","44,495,084","47,168,741","40,203,756","46,368,714","43,145,053","44,319,180","34,868,869","37,245,240"
비유동부채,"3,180,075","2,527,689","2,384,321","2,454,577","2,176,501","1,842,051","1,926,719","1,771,916","2,888,179","2,578,260","2,493,071","2,451,483"
부채총계,"37,256,197","36,475,548","38,747,441","44,526,115","46,671,585","49,010,792","42,130,475","48,140,630","46,033,232","46,897,440","37,361,940","39,696,723"
자본총계,"137,546,762","136,578,281","139,652,676","144,283,375","151,569,775","156,195,372","161,839,637","169,658,814","172,988,125","173,749,517","175,388,778","177,550,648"
자본과부채총계,"174,802,959","173,053,829","178,400,117","188,809,490","198,241,360","205,206,164","203,970,112","217,799,444","219,021,357","220,646,957","212,750,718","217,247,371"

In [5]:
IS_2

,제 48 기,제 49 기 1분기누적,제 49 기 반기누적,제 49 기 3분기누적,제 49 기,제 50 기 1분기누적,제 50 기 반기누적,제 50 기 3분기누적,제 50 기,제 51 기 1분기누적,제 51 기 반기누적,제 51 기 3분기누적
구분,,,,,,,,,,,,
수익(매출액),"133,947,204","34,578,524","76,709,333","119,783,624","161,915,007","42,606,978","83,921,701","131,567,040","170,381,870","37,038,395","75,188,069","117,392,980"
매출총이익,"36,656,560","11,636,988","26,026,761","42,422,575","60,515,350","17,410,718","34,119,268","54,186,410","68,715,364","10,586,172","20,045,125","29,514,047"
영업이익(손실),"13,647,436","5,675,571","13,603,127","23,597,608","34,857,091","11,200,897","22,250,502","36,163,219","43,699,451","3,896,923","6,694,081","9,360,048"
법인세비용차감전순이익(손실),"14,725,074","6,309,744","14,237,449","24,272,812","36,533,552","11,568,977","22,663,567","36,550,730","44,398,855","4,154,401","8,459,154","14,245,611"
당기순이익(손실),"11,579,749","4,873,767","11,017,491","18,794,866","28,800,837","8,452,458","16,530,443","26,741,991","32,815,127","3,088,628","7,151,797","11,737,687"
기본주당이익(손실) (단위:원),"81,602","34,920","79,285","135,812","208,881","62,189","2,433","3,936","4,830",455,"1,053","1,728"
희석주당이익(손실) (단위:원),"81,602","34,920","79,285","135,812","208,881","62,189","2,433","3,936","4,830",455,"1,053","1,728"

In [6]:
CF

,제 48 기,제 49 기 1분기,제 49 기 반기,제 49 기 3분기,제 49 기,제 50 기 1분기,제 50 기 반기,제 50 기 3분기,제 50 기,제 51 기 1분기,제 51 기 반기,제 51 기 3분기
구분,,,,,,,,,,,,
영업활동 현금흐름,"23,984,804","7,087,039","11,002,113","23,660,843","38,906,190","13,056,587","18,073,882","29,342,891","44,341,217","3,106,972","2,228,736","12,895,344"
투자활동 현금흐름,"(14,240,450)","(1,651,453)","(4,865,616)","(15,824,391)","(28,118,806)","(2,629,346)","(8,870,920)","(22,250,426)","(31,678,548)","2,866,813","4,677,057","(4,537,058)"
재무활동 현금흐름,"(9,037,006)","(4,331,326)","(7,297,590)","(8,658,869)","(11,801,987)","(5,421,419)","(7,984,782)","(5,936,201)","(2,716)","(3,008,810)","(5,904,161)","(8,830,958)"

-----------------

### 지표 만들기

#### 1. ROE

당기 순이익 / 자본총액

In [7]:
ROE=[]
for i in range(len(IS_2.columns)):
    ROE.append(round(float(IS_2.iloc[4,i].replace(',','')) / float(BS.iloc[-2,i].replace(',','')),3))

#### 2.유동비율

( 유동자산 / 유동부채 ) × 100

In [8]:
Current_ratio=[]
for i in range(len(IS_2.columns)):
    Current_ratio.append(round(float(BS.iloc[0,i].replace(',','')) / float(BS.iloc[3,i].replace(',','')) , 3))

#### 3. 부채 비율

( 총부채 / 자기자본 ) × 100

In [9]:
Debt_ratio=[]
for i in range(len(IS_2.columns)):
    Debt_ratio.append(round(float(BS.iloc[-3,i].replace(',','')) / float(BS.iloc[-2,i].replace(',','')) , 3))

#### 4. 매출액순이익율

(당기순이익/매출액) × 100

In [10]:
Net_profit_margin=[]
for i in range(len(IS_2.columns)):
    Net_profit_margin.append(round(float(IS_2.iloc[-3,i].replace(',','')) / float(IS_2.iloc[0,i].replace(',','')) , 3))

#### 5. 총자산순이익율

(당기순이익/평균총자산) × 100

In [11]:
ROA=[]
for i in range(len(IS_2.columns)):
    ROA.append(round(float(IS_2.iloc[-3,i].replace(',','')) / float(BS.iloc[2,i].replace(',','')) , 3))

#### 6.  book value

총자산 - 부채

In [12]:
Book_value=[]
for i in range(len(IS_2.columns)):
    Book_value.append(round(float(BS.iloc[2,i].replace(',','')) / float(BS.iloc[-3,i].replace(',','')) , 3))

-----------------

#### dataframe 만들어주기

In [13]:
df=pd.DataFrame()
df['ROE']=ROE
df['Current_ratio']=Current_ratio
df['Debt_ratio']=Debt_ratio
df['Net_profit_margin']=Net_profit_margin
df['ROA']=ROA
df['Book_value']=Book_value
df.index=[BS.columns]

In [14]:
df.head()

,ROE,Current_ratio,Debt_ratio,Net_profit_margin,ROA,Book_value
제 48 기말,0.084,2.054,0.271,0.086,0.066,4.692
제 49 기 1분기말,0.036,1.793,0.267,0.141,0.028,4.744
제 49 기 반기말,0.079,1.633,0.277,0.144,0.062,4.604
제 49 기 3분기말,0.130,1.564,0.309,0.157,0.100,4.240
제 49 기말,0.190,1.577,0.308,0.178,0.145,4.248

In [15]:
df.to_csv('data/fundamental.csv')